<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>

<ul>
  <%- links.each do |link| -%>
    <li><a href="<%=h link.fetch(:path) %>"><%=h link.fetch(:label) %></a></li>
  <%- end -%>
</ul>
