<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>

<p>
  <a href="https://github.com/healthypackrat/any_docs_table">リポジトリに戻る</a>
</p>

<ul>
  <%- links.each do |link| -%>
    <li><a href="<%=h link.fetch(:path) %>"><%=h link.fetch(:label) %></a></li>
  <%- end -%>
</ul>
